.form-card,
.table-card{


background:#1e293b;

padding:25px;

border-radius:15px;

margin-top:25px;


}




.form-card input,
.form-card textarea,
.form-card select{


width:100%;

padding:12px;

margin-bottom:15px;

background:#334155;

color:white;

border:none;

border-radius:8px;


}



textarea{

height:120px;

resize:none;

}




table{


width:100%;

border-collapse:collapse;

margin-top:20px;


}



th{


background:#020617;

padding:15px;

text-align:left;


}



td{


padding:15px;

border-bottom:
1px solid #334155;


}



.status{

padding:6px 10px;

border-radius:20px;

background:#0ea5e9;


}



.priority{

font-weight:bold;

}
